body {
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(10, 0, 30);
  color: white;
  font-size: 3vw;
}

#infoLevel {
  position: fixed;
  font-size: 0.6em;
  top: 1.5em;
  left: 3em;
}

#infoLevel table {
  td {
    padding-right: 0.5em;
  }
  td:first-child {
    text-align: right;
  }
}

#mainCanvas {
  display: block;
  position: relative;
  height: 60vh;
  top: 20vh;
  /* border: 1px solid red; */
}

#result {
  display: block;
  position: fixed;
  top: 72vh;
  text-align: center;
  /* border: 1px solid red; */
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
}

#cImgContainer {
  position: fixed;
  display: block;
  /* display: none; */
  bottom: 10px;
  left: 0;
  width: 60%;
  height: 18vh;
  /* border: 1px solid red; */
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

.cImgItem {
  position: absolute;
  /* border: 1px solid blue; */
  width: 5em;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
}

.cImgItem div {
  text-align: center;
}

.cImgItem canvas {
  width: 100%;
}

.button {
  background-color: rgba(100, 100, 100, 0.4);
  border: 0.1em solid white;
  border-radius: 5px;
  color: white;
  width: 30vw;
  font-size: 1em;
  position: absolute;
  text-align: center;
  padding: 1vw;
}

.button:hover {
  background-color: rgba(100, 100, 100, 0.8);
}

#ansBtnsContainer {
  top: 85vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
}

.ansBtn {
  background-color: rgba(100, 100, 100, 0.4);
  border: 0.1em solid white;
  border-radius: 5px;
  color: white;
  width: 30vw;
  font-size: 1em;
  text-align: center;
  padding: 1vw;
  margin: 10px;
}

/* #button1 {
  top: 85vh;
  left: 10vw;
}

#button2 {
  top: 85vh;
  right: 10vw;
} */

#button3 {
  top: 30vh;
}

#button4 {
  top: 45vh;
}

#button5 {
  top: 60vh;
}

.center {
  left: 50vw;
  transform: translateX(-50%);
}

.right {
  right: 5vw;
  transform: translateY(-20vh);
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}
